{
    "station":
    {
        "location": "$station.location",
        "latitude": $station.stn_info.latitude_f,
        "longitude": $station.stn_info.longitude_f,
        "altitude (meters)": $station.altitude.meter.raw,
        "link": "$station.station_url"
    },
    "generation":
    {
        "time": "$current.dateTime.format("%a, %d %b %Y %H:%M:%S %Z")",
        "generator": "weewx $station.version"
    },
    "current":
    {
        #if $current.outTemp.has_data
        "temperature": {"value": $current.outTemp.raw, "units": "$current.outTemp.format(" ").lstrip()"},
        #end if
        #if $current.dewpoint.has_data
        "dewpoint": {"value": $current.dewpoint.raw, "units": "$current.dewpoint.format(" ").lstrip()"},
        #end if
        #if $current.outHumidity.has_data
        "humidity": {"value": $current.outHumidity.raw, "units": "$current.outHumidity.format(" ").lstrip()"},
        #end if
        #if $current.heatindex.has_data
        "heat index": {"value": $current.heatindex.raw, "units": "$current.heatindex.format(" ").lstrip()"},
        #end if
        #if $current.barometer.has_data
        "barometer": {"value": $current.barometer.raw, "units": "$current.barometer.format(" ").lstrip()"},
        #end if
        #if $current.windSpeed.has_data
        "wind speed": {"value": $current.windSpeed.raw, "units": "$current.windSpeed.format(" ").lstrip()"},
        #end if
        #if $current.windGust.has_data
        "wind gust": {"value": $current.windGust.raw, "units": "$current.windGust.format(" ").lstrip()"},
        #end if
        #if $current.windDir.has_data
        "wind direction": {"value": $current.windDir.raw, "units": "$current.windDir.format(" ").lstrip()"},
        #end if
        #if $current.windchill.has_data
        "wind chill": {"value": $current.windchill.raw, "units": "$current.windchill.format(" ").lstrip()"},
        #end if
        #if $current.rainRate.has_data
        "rain rate": {"value": $current.rainRate.raw, "units": "$current.rainRate.format(" ").lstrip()"},
        #end if
        #if $current.inTemp.has_data
        "inside temperature": {"value": $current.inTemp.raw, "units": "$current.inTemp.format(" ").lstrip()"},
        #end if
        #if $current.inHumidity.has_data
        "inside humidity": {"value": $current.inHumidity.raw, "units": "$current.inHumidity.format(" ").lstrip()"},
        #end if
		#if $current.UV.has_data
        "UV Index": {"value": $current.UV.raw, "units": "$current.UV.format(" ").lstrip()"},
        #end if
		#if $current.radiation.has_data
        "radiation": {"value": $current.radiation.raw, "units": "$current.radiation.format(" ").lstrip()"},
        #end if
		#if $current.appTemp.has_data
        "appTemp": {"value": $current.appTemp.raw, "units": "$current.appTemp.format(" ").lstrip()"},
        #end if
		#if $current.appTemp1.has_data
        "appTemp1": {"value": $current.appTemp1.raw, "units": "$current.appTemp1.format(" ").lstrip()"},
        #end if
		#if $current.batteryStatus1.has_data
        "batteryStatus1": {"value": $current.batteryStatus1.raw, "units": "$current.batteryStatus1.format(" ").lstrip()"},
        #end if
		#if $current.batteryStatus2.has_data
        "batteryStatus2": {"value": $current.batteryStatus2.raw, "units": "$current.batteryStatus2.format(" ").lstrip()"},
        #end if
		#if $current.batteryStatus3.has_data
        "batteryStatus3": {"value": $current.batteryStatus3.raw, "units": "$current.batteryStatus3.format(" ").lstrip()"},
        #end if
		#if $current.batteryStatus4.has_data
        "batteryStatus4": {"value": $current.batteryStatus4.raw, "units": "$current.batteryStatus4.format(" ").lstrip()"},
        #end if
		#if $current.batteryStatus5.has_data
        "batteryStatus5": {"value": $current.batteryStatus5.raw, "units": "$current.batteryStatus5.format(" ").lstrip()"},
        #end if
		#if $current.batteryStatus6.has_data
        "batteryStatus6": {"value": $current.batteryStatus6.raw, "units": "$current.batteryStatus6.format(" ").lstrip()"},
        #end if
		#if $current.batteryStatus7.has_data
        "batteryStatus7": {"value": $current.batteryStatus7.raw, "units": "$current.batteryStatus7.format(" ").lstrip()"},
        #end if
		#if $current.batteryStatus8.has_data
        "batteryStatus8": {"value": $current.batteryStatus8.raw, "units": "$current.batteryStatus8.format(" ").lstrip()"},
        #end if
		#if $current.cloudbase.has_data
        "cloudbase": {"value": $current.cloudbase.raw, "units": "$current.cloudbase.format(" ").lstrip()"},
        #end if
		#if $current.co.has_data
        "co": {"value": $current.co.raw, "units": "$current.co.format(" ").lstrip()"},
        #end if
		#if $current.co2.has_data
        "co2": {"value": $current.co2.raw, "units": "$current.co2.format(" ").lstrip()"},
        #end if
		#if $current.consBatteryVoltage.has_data
        "consBatteryVoltage": {"value": $current.consBatteryVoltage.raw, "units": "$current.consBatteryVoltage.format(" ").lstrip()"},
        #end if
		#if $current.dewpoint1.has_data
        "dewpoint1": {"value": $current.dewpoint1.raw, "units": "$current.dewpoint1.format(" ").lstrip()"},
        #end if
		#if $current.ET.has_data
        "ET": {"value": $current.ET.raw, "units": "$current.ET.format(" ").lstrip()"},
        #end if
		#if $current.extraHumid1.has_data
        "extraHumid1": {"value": $current.extraHumid1.raw, "units": "$current.extraHumid1.format(" ").lstrip()"},
        #end if
		#if $current.extraHumid2.has_data
        "extraHumid2": {"value": $current.extraHumid2.raw, "units": "$current.extraHumid2.format(" ").lstrip()"},
        #end if
		#if $current.extraHumid3.has_data
        "extraHumid3": {"value": $current.extraHumid3.raw, "units": "$current.extraHumid3.format(" ").lstrip()"},
        #end if
		#if $current.extraHumid4.has_data
        "extraHumid4": {"value": $current.extraHumid4.raw, "units": "$current.extraHumid4.format(" ").lstrip()"},
        #end if
		#if $current.extraHumid5.has_data
        "extraHumid5": {"value": $current.extraHumid5.raw, "units": "$current.extraHumid5.format(" ").lstrip()"},
        #end if
		#if $current.extraHumid6.has_data
        "extraHumid6": {"value": $current.extraHumid6.raw, "units": "$current.extraHumid6.format(" ").lstrip()"},
        #end if
		#if $current.extraHumid7.has_data
        "extraHumid7": {"value": $current.extraHumid7.raw, "units": "$current.extraHumid7.format(" ").lstrip()"},
        #end if
		#if $current.extraHumid8.has_data
        "extraHumid8": {"value": $current.extraHumid8.raw, "units": "$current.extraHumid8.format(" ").lstrip()"},
        #end if
		#if $current.extraTemp1.has_data
        "extraTemp1": {"value": $current.extraTemp1.raw, "units": "$current.extraTemp1.format(" ").lstrip()"},
        #end if
		#if $current.extraTemp2.has_data
        "extraTemp2": {"value": $current.extraTemp2.raw, "units": "$current.extraTemp2.format(" ").lstrip()"},
        #end if
		#if $current.extraTemp3.has_data
        "extraTemp3": {"value": $current.extraTemp3.raw, "units": "$current.extraTemp3.format(" ").lstrip()"},
        #end if
		#if $current.extraTemp4.has_data
        "extraTemp4": {"value": $current.extraTemp4.raw, "units": "$current.extraTemp4.format(" ").lstrip()"},
        #end if
		#if $current.extraTemp5.has_data
        "extraTemp5": {"value": $current.extraTemp5.raw, "units": "$current.extraTemp5.format(" ").lstrip()"},
        #end if
		#if $current.extraTemp6.has_data
        "extraTemp6": {"value": $current.extraTemp6.raw, "units": "$current.extraTemp6.format(" ").lstrip()"},
        #end if
		#if $current.extraTemp7.has_data
        "extraTemp7": {"value": $current.extraTemp7.raw, "units": "$current.extraTemp7.format(" ").lstrip()"},
        #end if
		#if $current.extraTemp8.has_data
        "extraTemp8": {"value": $current.extraTemp8.raw, "units": "$current.extraTemp8.format(" ").lstrip()"},
        #end if
		#if $current.forecast.has_data
        "forecast": {"value": $current.forecast.raw, "units": "$current.forecast.format(" ").lstrip()"},
        #end if
		#if $current.hail.has_data
        "hail": {"value": $current.hail.raw, "units": "$current.hail.format(" ").lstrip()"},
        #end if
		#if $current.hailBatteryStatus.has_data
        "hailBatteryStatus": {"value": $current.hailBatteryStatus.raw, "units": "$current.hailBatteryStatus.format(" ").lstrip()"},
        #end if
		#if $current.hailRate.has_data
        "hailRate": {"value": $current.hailRate.raw, "units": "$current.hailRate.format(" ").lstrip()"},
        #end if
		#if $current.heatindex.has_data
        "heatindex": {"value": $current.heatindex.raw, "units": "$current.heatindex.format(" ").lstrip()"},
        #end if
		#if $current.heatindex1.has_data
        "heatindex1": {"value": $current.heatindex1.raw, "units": "$current.heatindex1.format(" ").lstrip()"},
        #end if
		#if $current.inDewpoint.has_data
        "inDewpoint": {"value": $current.inDewpoint.raw, "units": "$current.inDewpoint.format(" ").lstrip()"},
        #end if
		#if $current.inTempBatteryStatus.has_data
        "inTempBatteryStatus": {"value": $current.inTempBatteryStatus.raw, "units": "$current.inTempBatteryStatus.format(" ").lstrip()"},
        #end if
		#if $current.leafTemp1.has_data
        "leafTemp1": {"value": $current.leafTemp1.raw, "units": "$current.leafTemp1.format(" ").lstrip()"},
        #end if
		#if $current.leafTemp2.has_data
        "leafTemp2": {"value": $current.leafTemp2.raw, "units": "$current.leafTemp2.format(" ").lstrip()"},
        #end if
		#if $current.leafWet1.has_data
        "leafWet1": {"value": $current.leafWet1.raw, "units": "$current.leafWet1.format(" ").lstrip()"},
        #end if
		#if $current.leafWet2.has_data
        "leafWet2": {"value": $current.leafWet2.raw, "units": "$current.leafWet2.format(" ").lstrip()"},
        #end if
		#if $current.lightning_distance.has_data
        "lightning_distance": {"value": $current.lightning_distance.raw, "units": "$current.lightning_distance.format(" ").lstrip()"},
        #end if
		#if $current.lightning_disturber_count.has_data
        "lightning_disturber_count": {"value": $current.lightning_disturber_count.raw, "units": "$current.lightning_disturber_count.format(" ").lstrip()"},
        #end if
		#if $current.lightning_energy.has_data
        "lightning_energy": {"value": $current.lightning_energy.raw, "units": "$current.lightning_energy.format(" ").lstrip()"},
        #end if
		#if $current.lightning_noise_count.has_data
        "lightning_noise_count": {"value": $current.lightning_noise_count.raw, "units": "$current.lightning_noise_count.format(" ").lstrip()"},
        #end if
		#if $current.lightning_strike_count.has_data
        "lightning_strike_count": {"value": $current.lightning_strike_count.raw, "units": "$current.lightning_strike_count.format(" ").lstrip()"},
        #end if
		#if $current.luminosity.has_data
        "luminosity": {"value": $current.luminosity.raw, "units": "$current.luminosity.format(" ").lstrip()"},
        #end if
		#if $current.maxSolarRad.has_data
        "maxSolarRad": {"value": $current.maxSolarRad.raw, "units": "$current.maxSolarRad.format(" ").lstrip()"},
        #end if
		#if $current.nh3.has_data
        "nh3": {"value": $current.nh3.raw, "units": "$current.nh3.format(" ").lstrip()"},
        #end if
		#if $current.no2.has_data
        "no2": {"value": $current.no2.raw, "units": "$current.no2.format(" ").lstrip()"},
        #end if
		#if $current.noise.has_data
        "noise": {"value": $current.noise.raw, "units": "$current.noise.format(" ").lstrip()"},
        #end if
		#if $current.o3.has_data
        "o3": {"value": $current.o3.raw, "units": "$current.o3.format(" ").lstrip()"},
        #end if
		#if $current.outTempBatteryStatus.has_data
        "outTempBatteryStatus": {"value": $current.outTempBatteryStatus.raw, "units": "$current.outTempBatteryStatus.format(" ").lstrip()"},
        #end if
		#if $current.pb.has_data
        "pb": {"value": $current.pb.raw, "units": "$current.pb.format(" ").lstrip()"},
        #end if
		#if $current.pm10_0.has_data
        "pm10_0": {"value": $current.pm10_0.raw, "units": "$current.pm10_0.format(" ").lstrip()"},
        #end if
		#if $current.pm1_0.has_data
        "pm1_0": {"value": $current.pm1_0.raw, "units": "$current.pm1_0.format(" ").lstrip()"},
        #end if
		#if $current.pm2_5.has_data
        "pm2_5": {"value": $current.pm2_5.raw, "units": "$current.pm2_5.format(" ").lstrip()"},
        #end if
		#if $current.pressure.has_data
        "pressure": {"value": $current.pressure.raw, "units": "$current.pressure.format(" ").lstrip()"},
        #end if
		#if $current.rainBatteryStatus.has_data
        "rainBatteryStatus": {"value": $current.rainBatteryStatus.raw, "units": "$current.rainBatteryStatus.format(" ").lstrip()"},
        #end if
		#if $current.referenceVoltage.has_data
        "referenceVoltage": {"value": $current.referenceVoltage.raw, "units": "$current.referenceVoltage.format(" ").lstrip()"},
        #end if
		#if $current.rxCheckPercent.has_data
        "rxCheckPercent": {"value": $current.rxCheckPercent.raw, "units": "$current.rxCheckPercent.format(" ").lstrip()"},
        #end if
		#if $current.signal1.has_data
        "signal1": {"value": $current.signal1.raw, "units": "$current.signal1.format(" ").lstrip()"},
        #end if
		#if $current.signal2.has_data
        "signal2": {"value": $current.signal2.raw, "units": "$current.signal2.format(" ").lstrip()"},
        #end if
		#if $current.signal3.has_data
        "signal3": {"value": $current.signal3.raw, "units": "$current.signal3.format(" ").lstrip()"},
        #end if
		#if $current.signal4.has_data
        "signal4": {"value": $current.signal4.raw, "units": "$current.signal4.format(" ").lstrip()"},
        #end if
		#if $current.signal5.has_data
        "signal5": {"value": $current.signal5.raw, "units": "$current.signal5.format(" ").lstrip()"},
        #end if
		#if $current.signal6.has_data
        "signal6": {"value": $current.signal6.raw, "units": "$current.signal6.format(" ").lstrip()"},
        #end if
		#if $current.signal7.has_data
        "signal7": {"value": $current.signal7.raw, "units": "$current.signal7.format(" ").lstrip()"},
        #end if
		#if $current.signal8.has_data
        "signal8": {"value": $current.signal8.raw, "units": "$current.signal8.format(" ").lstrip()"},
        #end if
		#if $current.snow.has_data
        "snow": {"value": $current.snow.raw, "units": "$current.snow.format(" ").lstrip()"},
        #end if
		#if $current.snowBatteryStatus.has_data
        "snowBatteryStatus": {"value": $current.snowBatteryStatus.raw, "units": "$current.snowBatteryStatus.format(" ").lstrip()"},
        #end if
		#if $current.snowDepth.has_data
        "snowDepth": {"value": $current.snowDepth.raw, "units": "$current.snowDepth.format(" ").lstrip()"},
        #end if
		#if $current.snowMoisture.has_data
        "snowMoisture": {"value": $current.snowMoisture.raw, "units": "$current.snowMoisture.format(" ").lstrip()"},
        #end if
		#if $current.snowRate.has_data
        "snowRate": {"value": $current.snowRate.raw, "units": "$current.snowRate.format(" ").lstrip()"},
        #end if
		#if $current.so2.has_data
        "so2": {"value": $current.so2.raw, "units": "$current.so2.format(" ").lstrip()"},
        #end if
		#if $current.soilMoist1.has_data
        "soilMoist1": {"value": $current.soilMoist1.raw, "units": "$current.soilMoist1.format(" ").lstrip()"},
        #end if
		#if $current.soilMoist2.has_data
        "soilMoist2": {"value": $current.soilMoist2.raw, "units": "$current.soilMoist2.format(" ").lstrip()"},
        #end if
		#if $current.soilMoist3.has_data
        "soilMoist3": {"value": $current.soilMoist3.raw, "units": "$current.soilMoist3.format(" ").lstrip()"},
        #end if
		#if $current.soilMoist4.has_data
        "soilMoist4": {"value": $current.soilMoist4.raw, "units": "$current.soilMoist4.format(" ").lstrip()"},
        #end if
		#if $current.soilTemp1.has_data
        "soilTemp1": {"value": $current.soilTemp1.raw, "units": "$current.soilTemp1.format(" ").lstrip()"},
        #end if
		#if $current.soilTemp2.has_data
        "soilTemp2": {"value": $current.soilTemp2.raw, "units": "$current.soilTemp2.format(" ").lstrip()"},
        #end if
		#if $current.soilTemp3.has_data
        "soilTemp3": {"value": $current.soilTemp3.raw, "units": "$current.soilTemp3.format(" ").lstrip()"},
        #end if
		#if $current.soilTemp4.has_data
        "soilTemp4": {"value": $current.soilTemp4.raw, "units": "$current.soilTemp4.format(" ").lstrip()"},
        #end if
		#if $current.supplyVoltage.has_data
        "supplyVoltage": {"value": $current.supplyVoltage.raw, "units": "$current.supplyVoltage.format(" ").lstrip()"},
        #end if
		#if $current.txBatteryStatus.has_data
        "txBatteryStatus": {"value": $current.txBatteryStatus.raw, "units": "$current.txBatteryStatus.format(" ").lstrip()"},
        #end if
		#if $current.uvBatteryStatus.has_data
        "uvBatteryStatus": {"value": $current.uvBatteryStatus.raw, "units": "$current.uvBatteryStatus.format(" ").lstrip()"},
        #end if
		#if $current.windBatteryStatus.has_data
        "windBatteryStatus": {"value": $current.windBatteryStatus.raw, "units": "$current.windBatteryStatus.format(" ").lstrip()"},
        #end if
		#if $current.windGustDir.has_data
        "windGustDir": {"value": $current.windGustDir.raw, "units": "$current.windGustDir.format(" ").lstrip()"},
        #end if
		#if $current.windrun.has_data
        "windrun": {"value": $current.windrun.raw, "units": "$current.windrun.format(" ").lstrip()"},
        #end if
        ## Last value can't end with a comma
        "void_end": null
    },
    "day":
    {
        #if $day.outTemp.has_data
        "max temperature": {"value": $day.outTemp.max.raw, "units": "$day.outTemp.max.format(" ").lstrip()", "at": "$day.outTemp.maxtime"},
        "min temperature": {"value": $day.outTemp.min.raw, "units": "$day.outTemp.min.format(" ").lstrip()", "at": "$day.outTemp.mintime"},
        #end if
        #if $day.dewpoint.has_data
        "max dewpoint": {"value": $day.dewpoint.max.raw, "units": "$day.dewpoint.max.format(" ").lstrip()", "at": "$day.dewpoint.maxtime"},
        "min dewpoint": {"value": $day.dewpoint.min.raw, "units": "$day.dewpoint.min.format(" ").lstrip()", "at": "$day.dewpoint.mintime"},
        #end if
        #if $day.outHumidity.has_data
        "max humidity": {"value": $day.outHumidity.max.raw, "units": "$day.outHumidity.max.format(" ").lstrip()", "at": "$day.outHumidity.maxtime"},
        "min humidity": {"value": $day.outHumidity.min.raw, "units": "$day.outHumidity.min.format(" ").lstrip()", "at": "$day.outHumidity.mintime"},
        #end if
        #if $day.barometer.has_data
        "max barometer": {"value": $day.barometer.max.raw, "units": "$day.barometer.max.format(" ").lstrip()", "at": "$day.barometer.maxtime"},
        "min barometer": {"value": $day.barometer.min.raw, "units": "$day.barometer.min.format(" ").lstrip()", "at": "$day.barometer.mintime"},
        #end if
        #if $day.windSpeed.has_data
        "max wind speed": {"value": $day.windSpeed.max.raw, "units": "$day.windSpeed.max.format(" ").lstrip()", "at": "$day.windSpeed.maxtime"},
        #end if
        #if $day.windGust.has_data
        "max wind gust": {"value": $day.windGust.max.raw, "units": "$day.windGust.max.format(" ").lstrip()", "at": "$day.windGust.maxtime"},
        #end if
        #if $day.rainRate.has_data
        "max rain rate": {"value": $day.rainRate.max.raw, "units": "$day.rainRate.max.format(" ").lstrip()", "at": "$day.rainRate.maxtime"},
        #end if
        #if $day.rain.has_data
        "rain total": {"value": $day.rain.sum.raw, "units": "$day.rain.sum.format(" ").lstrip()"},
        #end if
        #if $day.inTemp.has_data
        "max inside temperature": {"value": $day.inTemp.max.raw, "units": "$day.inTemp.max.format(" ").lstrip()", "at": "$day.inTemp.maxtime"},
        "min inside temperature": {"value": $day.inTemp.min.raw, "units": "$day.inTemp.min.format(" ").lstrip()", "at": "$day.inTemp.mintime"},
        #end if
        #if $day.inHumidity.has_data
        "max inside humidity": {"value": $day.inHumidity.max.raw, "units": "$day.inHumidity.max.format(" ").lstrip()", "at": "$day.inHumidity.maxtime"},
        "min inside humidity": {"value": $day.inHumidity.min.raw, "units": "$day.inHumidity.min.format(" ").lstrip()", "at": "$day.inHumidity.mintime"},
        #end if
        ## Last value can't end with a comma
        "void_end": null
    },
    "week":
    {
        #if $week.outTemp.has_data
        "max temperature": {"value": $week.outTemp.max.raw, "units": "$week.outTemp.max.format(" ").lstrip()", "at": "$week.outTemp.maxtime"},
        "min temperature": {"value": $week.outTemp.min.raw, "units": "$week.outTemp.min.format(" ").lstrip()", "at": "$week.outTemp.mintime"},
        #end if
        #if $week.dewpoint.has_data
        "max dewpoint": {"value": $week.dewpoint.max.raw, "units": "$week.dewpoint.max.format(" ").lstrip()", "at": "$week.dewpoint.maxtime"},
        "min dewpoint": {"value": $week.dewpoint.min.raw, "units": "$week.dewpoint.min.format(" ").lstrip()", "at": "$week.dewpoint.mintime"},
        #end if
        #if $week.outHumidity.has_data
        "max humidity": {"value": $week.outHumidity.max.raw, "units": "$week.outHumidity.max.format(" ").lstrip()", "at": "$week.outHumidity.maxtime"},
        "min humidity": {"value": $week.outHumidity.min.raw, "units": "$week.outHumidity.min.format(" ").lstrip()", "at": "$week.outHumidity.mintime"},
        #end if
        #if $week.barometer.has_data
        "max barometer": {"value": $week.barometer.max.raw, "units": "$week.barometer.max.format(" ").lstrip()", "at": "$week.barometer.maxtime"},
        "min barometer": {"value": $week.barometer.min.raw, "units": "$week.barometer.min.format(" ").lstrip()", "at": "$week.barometer.mintime"},
        #end if
        #if $week.windSpeed.has_data
        "max wind speed": {"value": $week.windSpeed.max.raw, "units": "$week.windSpeed.max.format(" ").lstrip()", "at": "$week.windSpeed.maxtime"},
        #end if
        #if $week.windGust.has_data
        "max wind gust": {"value": $week.windGust.max.raw, "units": "$week.windGust.max.format(" ").lstrip()", "at": "$week.windGust.maxtime"},
        #end if
        #if $week.rainRate.has_data
        "max rain rate": {"value": $week.rainRate.max.raw, "units": "$week.rainRate.max.format(" ").lstrip()", "at": "$week.rainRate.maxtime"},
        #end if
        #if $week.rain.has_data
        "rain total": {"value": $week.rain.sum.raw, "units": "$week.rain.sum.format(" ").lstrip()"},
        #end if
        #if $week.inTemp.has_data
        "max inside temperature": {"value": $week.inTemp.max.raw, "units": "$week.inTemp.max.format(" ").lstrip()", "at": "$week.inTemp.maxtime"},
        "min inside temperature": {"value": $week.inTemp.min.raw, "units": "$week.inTemp.min.format(" ").lstrip()", "at": "$week.inTemp.mintime"},
        #end if
        #if $week.inHumidity.has_data
        "max inside humidity": {"value": $week.inHumidity.max.raw, "units": "$week.inHumidity.max.format(" ").lstrip()", "at": "$week.inHumidity.maxtime"},
        "min inside humidity": {"value": $week.inHumidity.min.raw, "units": "$week.inHumidity.min.format(" ").lstrip()", "at": "$week.inHumidity.mintime"},
        #end if
        ## Last value can't end with a comma
        "void_end": null
    },
    "month":
    {
        #if $month.outTemp.has_data
        "max temperature": {"value": $month.outTemp.max.raw, "units": "$month.outTemp.max.format(" ").lstrip()", "at": "$month.outTemp.maxtime"},
        "min temperature": {"value": $month.outTemp.min.raw, "units": "$month.outTemp.min.format(" ").lstrip()", "at": "$month.outTemp.mintime"},
        #end if
        #if $month.dewpoint.has_data
        "max dewpoint": {"value": $month.dewpoint.max.raw, "units": "$month.dewpoint.max.format(" ").lstrip()", "at": "$month.dewpoint.maxtime"},
        "min dewpoint": {"value": $month.dewpoint.min.raw, "units": "$month.dewpoint.min.format(" ").lstrip()", "at": "$month.dewpoint.mintime"},
        #end if
        #if $month.outHumidity.has_data
        "max humidity": {"value": $month.outHumidity.max.raw, "units": "$month.outHumidity.max.format(" ").lstrip()", "at": "$month.outHumidity.maxtime"},
        "min humidity": {"value": $month.outHumidity.min.raw, "units": "$month.outHumidity.min.format(" ").lstrip()", "at": "$month.outHumidity.mintime"},
        #end if
        #if $month.barometer.has_data
        "max barometer": {"value": $month.barometer.max.raw, "units": "$month.barometer.max.format(" ").lstrip()", "at": "$month.barometer.maxtime"},
        "min barometer": {"value": $month.barometer.min.raw, "units": "$month.barometer.min.format(" ").lstrip()", "at": "$month.barometer.mintime"},
        #end if
        #if $month.windSpeed.has_data
        "max wind speed": {"value": $month.windSpeed.max.raw, "units": "$month.windSpeed.max.format(" ").lstrip()", "at": "$month.windSpeed.maxtime"},
        #end if
        #if $month.windGust.has_data
        "max wind gust": {"value": $month.windGust.max.raw, "units": "$month.windGust.max.format(" ").lstrip()", "at": "$month.windGust.maxtime"},
        #end if
        #if $month.rainRate.has_data
        "max rain rate": {"value": $month.rainRate.max.raw, "units": "$month.rainRate.max.format(" ").lstrip()", "at": "$month.rainRate.maxtime"},
        #end if
        #if $month.rain.has_data
        "rain total": {"value": $month.rain.sum.raw, "units": "$month.rain.sum.format(" ").lstrip()"},
        #end if
        #if $month.inTemp.has_data
        "max inside temperature": {"value": $month.inTemp.max.raw, "units": "$month.inTemp.max.format(" ").lstrip()", "at": "$month.inTemp.maxtime"},
        "min inside temperature": {"value": $month.inTemp.min.raw, "units": "$month.inTemp.min.format(" ").lstrip()", "at": "$month.inTemp.mintime"},
        #end if
        #if $month.inHumidity.has_data
        "max inside humidity": {"value": $month.inHumidity.max.raw, "units": "$month.inHumidity.max.format(" ").lstrip()", "at": "$month.inHumidity.maxtime"},
        "min inside humidity": {"value": $month.inHumidity.min.raw, "units": "$month.inHumidity.min.format(" ").lstrip()", "at": "$month.inHumidity.mintime"},
        #end if
        ## Last value can't end with a comma
        "void_end": null
    },
    "year":
    {
        #if $year.outTemp.has_data
        "max temperature": {"value": $year.outTemp.max.raw, "units": "$year.outTemp.max.format(" ").lstrip()", "at": "$year.outTemp.maxtime"},
        "min temperature": {"value": $year.outTemp.min.raw, "units": "$year.outTemp.min.format(" ").lstrip()", "at": "$year.outTemp.mintime"},
        #end if
        #if $year.dewpoint.has_data
        "max dewpoint": {"value": $year.dewpoint.max.raw, "units": "$year.dewpoint.max.format(" ").lstrip()", "at": "$year.dewpoint.maxtime"},
        "min dewpoint": {"value": $year.dewpoint.min.raw, "units": "$year.dewpoint.min.format(" ").lstrip()", "at": "$year.dewpoint.mintime"},
        #end if
        #if $year.outHumidity.has_data
        "max humidity": {"value": $year.outHumidity.max.raw, "units": "$year.outHumidity.max.format(" ").lstrip()", "at": "$year.outHumidity.maxtime"},
        "min humidity": {"value": $year.outHumidity.min.raw, "units": "$year.outHumidity.min.format(" ").lstrip()", "at": "$year.outHumidity.mintime"},
        #end if
        #if $year.barometer.has_data
        "max barometer": {"value": $year.barometer.max.raw, "units": "$year.barometer.max.format(" ").lstrip()", "at": "$year.barometer.maxtime"},
        "min barometer": {"value": $year.barometer.min.raw, "units": "$year.barometer.min.format(" ").lstrip()", "at": "$year.barometer.mintime"},
        #end if
        #if $year.windSpeed.has_data
        "max wind speed": {"value": $year.windSpeed.max.raw, "units": "$year.windSpeed.max.format(" ").lstrip()", "at": "$year.windSpeed.maxtime"},
        #end if
        #if $year.windGust.has_data
        "max wind gust": {"value": $year.windGust.max.raw, "units": "$year.windGust.max.format(" ").lstrip()", "at": "$year.windGust.maxtime"},
        #end if
        #if $year.rainRate.has_data
        "max rain rate": {"value": $year.rainRate.max.raw, "units": "$year.rainRate.max.format(" ").lstrip()", "at": "$year.rainRate.maxtime"},
        #end if
        #if $year.rain.has_data
        "rain total": {"value": $year.rain.sum.raw, "units": "$year.rain.sum.format(" ").lstrip()"},
        #end if
        #if $year.inTemp.has_data
        "max inside temperature": {"value": $year.inTemp.max.raw, "units": "$year.inTemp.max.format(" ").lstrip()", "at": "$year.inTemp.maxtime"},
        "min inside temperature": {"value": $year.inTemp.min.raw, "units": "$year.inTemp.min.format(" ").lstrip()", "at": "$year.inTemp.mintime"},
        #end if
        #if $year.inHumidity.has_data
        "max inside humidity": {"value": $year.inHumidity.max.raw, "units": "$year.inHumidity.max.format(" ").lstrip()", "at": "$year.inHumidity.maxtime"},
        "min inside humidity": {"value": $year.inHumidity.min.raw, "units": "$year.inHumidity.min.format(" ").lstrip()", "at": "$year.inHumidity.mintime"},
        #end if
        ## Last value can't end with a comma
        "void_end": null
    }
}